 <!-- jQuery Version 1.11.0 -->
    <script src="/nicewiki/js/jquery-1.11.0.nicewiki/js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/nicewiki/js/bootstrap.min.nicewiki/js"></script>

    <!-- Plugin JavaScript -->
    <script src="/nicewiki/js/jquery.easing.min.nicewiki/js"></script>
    <script src="/nicewiki/js/classie.nicewiki/js"></script>
    <script src="/nicewiki/js/cbpAnimatedHeader.nicewiki/js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/nicewiki/js/jqBootstrapValidation.nicewiki/js"></script>
    <script src="/nicewiki/js/contact_me.nicewiki/js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/nicewiki/js/agency.nicewiki/js"></script>
